@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Homemade+Apple&display=swap");

:root {
  --font-family: "DM Sans", sans-serif;
  --heading-font-weight: 700;
  --heading-font-size: 28px;
  --font-size: 14px;
  --icon-font-family: "Homemade Apple", cursive;
  --icon-font-weight: normal;
  --icon-font-size: 38px;
}

* {
  font-family: var(--font-family) !important;
  font-size: var(--font-size);
}

.nav {
  background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
  position: sticky;
  top: 0px;
  z-index: 999;
}

.icon {
  font-size: var(--icon-font-size);
  font-family: var(--icon-font-family) !important;
  font-weight: 700;
  color: #fff;
}

.btn-common {
  background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
  font-weight: bold;
  color: #fff;
}

.btn-common:hover {
  color: #fff
}

.event-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightgray !important;
}

.overflow-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 996px) {
  .search-input {
    width: 50% !important;
  }
  .icon {
    font-size: 28px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 75% !important;
  }
  .icon {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .search-input {
    width: 100% !important;
  }
  .icon {
    font-size: 20px;
    text-align: center;
  }
  .event-img-container {
    justify-content: center;
  }
}
